*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: #1C0B19;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.links a{
    font-size: 24px;
    color: white;
    padding: 30px;
    text-align: center;
}   

.links a:hover{
    color: #FFC145;
    cursor: pointer;
    transition: color 200ms;
}

